
body {
    background-image: url('mountain.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
}

.home{
    color: white;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: center; 
    margin-top: 300px;
}

.link{
    color: white ;
    text-decoration: none ;
    font-size: 40px !important;
    font-weight: bold ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) ; 
    transition: color 0.3s ease;
}

.link:hover{
    color: black;
}

